.footer {
  background-color: #042442;

  flex-direction: column;
}
.footer_container {
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-top: 25px;
  width: 100%;
  justify-content: space-around;
  border-bottom: solid 0.5px;
  border-bottom-color: rgb(198, 167, 94);
  border-top: 1px solid transparent;
  border-image: linear-gradient(to right, transparent, #c9a96e, transparent) 1;
}
.datos {
  display: flex;
  flex-direction: row;
}
.datos img {
  margin-right: 15px;
}
.footer_container p,
div {
  color: white;
  list-style: none;
  display: flex;
  flex-direction: column;
}
.title_footer {
  list-style: none;
  display: flex;
  flex-direction: column;
  color: #c6a75e;
}
.title_footer-contacto {
  margin-left: 35px;
  list-style: none;
  display: flex;
  flex-direction: column;
  color: #c6a75e;
}
.footer_presentacion p {
  width: 500px;
  color: white;
}
.container_datosFooter {
  color: white;
  list-style: none;
  display: flex;
  flex-direction: column;
}
.container_piePagina {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  font-size: 12px;
  width: 95%;
}
.container_piePagina p,
div {
  color: white;
  display: flex;
}
.container_politicas {
  display: flex;
  flex-direction: row;
  width: 350px;
  justify-content: space-between;
}
