.footer {
  background-color: #111827;
  mask-image: linear-gradient(to top, black 80%, transparent 90%);
  -webkit-mask-image: linear-gradient(to top, black 80%, transparent 90%);
  display: flex;
  flex-direction: column;
}
.footer_container {
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-top: 25px;
  width: 95dvw;
  justify-content: space-around;
  border-bottom: solid 1px;
  border-bottom-color: white;
}
.datos {
  display: flex;
  flex-direction: row;
}
.datos img {
  margin-right: 15px;
}
.footer_container p,
h2,
div {
  color: white;
  list-style: none;
  display: flex;
  flex-direction: column;
}
.footer_presentacion p {
  width: 500px;
  color: white;
}
.container_datosFooter {
  color: white;
  list-style: none;
  display: flex;
  flex-direction: column;
}
.container_piePagina {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  font-size: 12px;
  width: 95dvw;
}
.container_piePagina p,
div {
  color: white;
  display: flex;
}
.container_politicas {
  display: flex;
  flex-direction: row;
  width: 350px;
  justify-content: space-between;
}
