.header {
  display: flex;
  height: 80px;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-bottom: solid 1px;
  border-color: rgb(226, 232, 240);
}
.title_page {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 30px;
  color: #2b4c69;
}
.navbar {
  display: flex;
}
.nav {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  width: 400px;
  justify-content: space-between;
  font-family: sans-serif, Arial, Helvetica;
}
.nav a {
  display: block;
  text-decoration: none;
  font-size: 20px;
  color: #2b4c69;
  font-weight: lighter;
  transition: all 300ms;
}
.nav a:hover {
  transform: scale(1.1, 1.1);
}
.container_buttons {
  display: flex;
  flex-direction: row;
  width: 350px;
  justify-content: space-between;
}
.btn-login {
  background-color: white;
  display: flex;
  align-items: center;
  color: #949494;
  border: solid 0.5px;
  height: 40px;
  width: 170px;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 300ms;
}

.login-icon {
  filter: invert(62%) sepia(0%) saturate(630%) hue-rotate(181deg)
    brightness(92%) contrast(84%);
  margin-right: 10px;
}
.btn-register {
  background-color: #16a249;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: none;
  height: 40px;
  width: 170px;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 300ms;
}
.logout {
  margin-right: 10px;
}
