.content_Login {
  padding-top: 60px;
}
.login_Title {
  font-size: 2em;
  color: #333;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0;
}
.container_Login {
  color: #042442;
  display: flex;
  width: 25%;
  align-items: center;
  margin: 100px auto 100px;
  background: #f3f4f7;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}
.input-container {
  position: relative;
  display: inline-block;
  width: 100%;
}

.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  pointer-events: none;
}
.input_Registro {
  padding-left: 40px; /* Espacio para el icono */
  width: 100%;
}
.btn-register-login {
  background-color: #042442;
  display: flex;
  margin: 0 auto 0;
  align-items: center;
  justify-content: center;
  color: #c6a75e;
  border: none;
  text-decoration: none;
  height: 40px;
  max-width: 300px;
  width: 100%;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 300ms;
}
.btn-register-login:hover {
  background-color: #0a3d6b;
  border: solid 1px #c6a75e;
}
.container_Check {
  display: flex;
  flex-direction: row;
  margin: 0;
  margin-top: 15px;
  margin-bottom: 15px;
  justify-content: flex-end;
}
.check {
  display: flex;
  flex-direction: row;
}
.text_Recordarme {
  color: black;
}
.link-to_Olvidaste {
  margin: 0;
  display: flex;
  text-decoration: none;
  align-items: center;
}
.footer_Login {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.link-to_Register {
  text-decoration: none;
  margin-left: 10px;
}
.general-error-text {
  color: red;
  text-align: center;
  margin: 0;
  margin-bottom: 15px;
}
.field-error-text {
  color: red;
  text-align: center;
  margin: 0;
  margin-bottom: 15px;
}
