.layout {
  margin: 0 auto;
  width: 100%;
  min-height: 100dvh;
  display: grid;
  grid-template-areas:
    "header"
    "navigation"
    "footer";
  grid-template-rows: auto 1fr auto;
}

.container {
  min-height: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: black;
}
