.registroTitle {
  color: black;
  margin: 25px auto 25px;
}
.registroSubtitle {
  display: flex;
  color: gray;
  max-width: 1000px;
  text-align: center;
  margin: 0;
  margin-bottom: 15px;
}
.formulario {
  color: black;
  display: flex;
  width: 40%;
  align-items: center;
  margin: auto;
  margin-bottom: 50px;
  background: #f3f4f7;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}
.formulario_Container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.seccion_Info {
  width: 95%;
  display: flex;
  justify-content: flex-start;
  display: block;
  font-size: 14px;
  font-weight: 500;
  color: #374151;
  margin-bottom: 8px;
  margin: auto;
}
.formulario_label {
  display: flex;
  font-size: 14px;
  font-weight: 500;
  color: #374151;
  margin-bottom: 8px;
}
.input_Registro {
  width: 100%;
  padding: 10px 14px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  font-size: 14px;
  transition: all 0.2s;
}
.input_Registro:focus {
  border-color: #10b981;
  background: #ffffff;
  box-shadow: 0 0 0 3px rgba(16, 185, 129, 0.1);
  outline: none;
}
.plan-select {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 16px;
  background: #f8f9fa;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  transition: all 0.2s ease;
  width: 60%;
  margin-top: 15px;
  margin-left: 15px;
}
.plan-select:focus {
  border-color: #10b981;
  background: #ffffff;
  box-shadow: 0 0 0 3px rgba(16, 185, 129, 0.1);
  outline: none;
}
.search-input {
  width: 89%;
  padding: 10px 14px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  font-size: 14px;
  transition: all 0.2s;
}
.formulario_Title {
  font-size: 24px;
  font-family: sans-serif;
  color: #020817;
  margin: 0;
  margin-top: 15px;
}
.formulario_Subtitle {
  font-size: 16px;
  font-family: sans-serif;
  color: #4b5563;

  margin: 0;
  margin-bottom: 15px;
}
.btn-register-paid {
  background-color: #16a249;
  display: flex;
  margin: 25px auto 25px;
  align-items: center;
  justify-content: center;
  color: white;
  border: none;
  text-decoration: none;
  height: 40px;
  width: 300px;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 300ms;
}
.btn-register-paid:hover {
  background-color: #059669;
}
