@import url("./styles/page.css");
@import url("./styles/Header.css");
@import url("./styles/Home.css");
@import url("./styles/Footer.css");
@import url("./styles/Directory.css");
@import url("./styles/Empresas.css");
@import url("./styles/Vacantes.css");
@import url("./styles/Registro.css");
